<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keranjang</title>
</head>
<body>
    <h1>Keranjang</h1>
    <table>
        <tr>
            <th>Pesanan</th>
            <th>Model</th>
            <th>Ukuran</th>
            <th>Harga</th>
            <th>Action</th>
        </tr>
        <% orderList.forEach(x => { %>
            <tr>
                <td><img width="100" src="<%= x.Motive.pictureUrl%>" alt=""></td>
                <td><%= x.model %></td>
                <td><%= x.size %></td>
                <td><%= x.Motive.price%></td>
                <td>
                <form action="/orders/<%= orderList.id %>/delete" method="get">
                    <!-- <input type="submit" value="-"> -->
                </form>
                </td>
            </tr>
        <% }) %>
    </table>

    <p>Alamat kirim: 
        <% if (orderList.length === 0) { %>
        <% } else { %>
            <%= ongkirs[2] %>
        <% } %>
    </p>

    <p>Ongkos kirim: 
        <% if (orderList.length === 0) { %>
        <% } else { %>
            <%= ongkirs[0] %>
        <% } %>
    </p>
    <p>Total: 
        <% if (orderList.length === 0) { %>
        <% } else { %>
            <%= Order.getTotal(orderList, ongkirs) %>
        <% } %>
        </p>
    </p>

    <button><a href="/delete">Bayar</a></button>
    <button><a href="/">Belanja Lagi</a></button>
    
</body>
</html>